*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0ff;
}

td {
    border-radius: 10px;
    border: #eee solid 1px;
}

.contenedor-botones {
    border-radius: 10px;
    background: white;
    position: fixed;
    font-size: 200%;
    top: 50px;
    left: 5%;
}

.btn {
    width: 30px;
    height: 30px;
    padding: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    cursor: pointer;
    & :hover {
        color: red;
    }
}
section {
    border-radius: 10px;
    background: white;
    text-align: justify;
    position: relative;
    margin-top: 1%;
    left: 22%;
    margin-right: 30%;
    & p, h1 {
        padding: 10px;
        font-size: 120%;
    }
    & h1 {
        font-size: 140%;
    }
}
@media only screen and (min-width: 350px) and (max-width: 765px) {
    .contenedor-botones {
        top: .5%;
        left: 1%;
        padding: .5%;
    }
    
    .btn {
        width: 10px;
        height: 10px;
        padding: 20px;
        & :hover {
            color: red;
        }
    }
    section {
        margin-top: 21%;
        left: 4%;
        margin-right: 5%;
        & p, h1 {
            font-size: 100%;
        }
        & h1 {
            font-size: 120%;
        }
    }
    
}